<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="author" content="Bun Wong">
  <title>易群推短网址 - yqt.so</title>
  <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/freelancer.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body id="page-top" class="index">
  <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">菜单</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">易群推免费短网址服务</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="page-scroll"><a href="#get">生成</a></li>
        <li class="page-scroll"><a href="#res">还原</a></li>
        <li class="page-scroll"><a href="#data">数据统计</a></li>		
        <li class="page-scroll"><a href="http://www.yiquntui.com/contact" target="_blank">商务合作</a></li>		
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#get">
    <i class="glyphicon glyphicon-chevron-up"></i>
  </a>
</div>

  <!-- Get Section -->
<section id="get">
  <div class="container">
    <form method="post" name="create" class="form-horizontal">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h4>短网址服务可以帮助你把一个长网址缩短，方便你在社交网络上分享。</h4>
        <p class="text-warning"><img src="img/qcloud-safe.png" width="100" height="40" class="hidden-xs"> 目前仅允许生成 taobao.com / tmall.com 域名的短网址。</p>
        <div class="bg-box">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="txt-gurl">请输入网址</label>
            <div class="col-sm-8">
              <input id="url-field" name="url" type="text" class="form-control input-sm" placeholder="请输入网址" value="">
              <span class="help-block text-left">有效期为 300 天</span>
			  <span class="text-danger help-block text-left" id="create_wrong" style="display:none;">目前仅支持 taobao.com / tmall.com 域名的网址生成</span>
            </div>
			<div class="col-sm-2">
				<p class="help-block clear-url"><a>清除</a></p>
			</div>
          </div>
		  <div class="form-group" id="create_result" style="display:none;">
            <label class="col-sm-3 control-label tl">生成短网址</label>
            <span id="txt-result" class="col-sm-9 control-label">
              <a href="javascript:void(0)" class="txt-copy">
                <b>http://yqt.so/UrIBKJ</b>
                <small class="txt-tip"><i class="fa fa-hand-o-left"></i> 点击复制</small>
              </a>
            </span>
          </div>
		  <div class="form-group" id="create_mobile" style="display:none;">
            <label class="col-sm-3 control-label tl">手机券网址</label>
            <span id="txt-result" class="col-sm-9 control-label">
              <a href="javascript:void(0)" class="txt-copy">
                <b>http://yqt.so/UrIBKJ</b>
                <small class="txt-tip"><i class="fa fa-hand-o-left"></i> 点击复制</small>
              </a>
            </span>
          </div>
		  <div class="form-group" id="create_qrcode" style="display:none; margin-top:-20px">
            <span class="col-sm-9 col-sm-offset-3 text-left">
              <img width="120" height="120">
            </span>
          </div>
          <div>
            <button class="btn btn-primary btn-md">生成短网址</button>
          </div>
        </div>
      </div>
    </div>
    </form>
    <hr>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>声明</h3>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <p>我们仅使用标准的 HTTP 302 方式让用户浏览器跳转到目标网址，中间过程不会修改任何用户数据（如访问来源、Cookie等），收集到的来源和地区数据仅用于生成统计报表。</p>
      </div>
      <div class="col-sm-5">
        <p><img class="img-responsive" src="img/memo-1.png"></p>
        <p><img class="img-responsive" src="img/memo-2.png"></p>
      </div>
    </div>
  </div>
</section>

  <!-- Restore Section -->
<section class="success" id="res">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>短网址还原</h2>
        <hr class="star-light">
      </div>
    </div>
    <form name="decode" method="post" class="form-horizontal">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="bg-box">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="txt-rurl">请输入短网址</label>
            <div class="col-sm-8">
              <input id="txt-rurl" name="url" type="text" class="form-control input-sm" placeholder="请输入短网址" value="">
			  <span class="text-danger help-block text-left" id="decode_wrong" style="display:none;">请输入正确的 yqt.so 短网址</span>
            </div>
          </div>
		  <div class="form-group" id="decode_result" style="display:none;">
            <label class="col-sm-3 control-label tl">还原后网址</label>
            <span id="txt-result" class="col-sm-9 control-label">
              <a href="javascript:void(0)" class="txt-copy">
                <b>https://www.tmall.com/</b>
                <small class="txt-tip"><i class="fa fa-hand-o-left"></i> 点击复制</small>
              </a>
            </span>
          </div>
          <div>
            <button class="btn btn-primary btn-md">还原短网址</button>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</section>

  <!-- Data Section -->
<section id="data">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>短网址数据统计</h2>
        <hr class="star-primary">
      </div>
    </div>
    <form name="statis" method="post" class="form-horizontal">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="bg-box bg-box-pb30">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="txt-url">请输入短网址</label>
            <div class="col-sm-8">
              <input id="txt-rurl" name="url" type="text" class="form-control input-sm" placeholder="请输入短网址" value="">
			  <span class="text-danger help-block text-left" id="statis_wrong" style="display:none;">请输入正确的 yqt.so 短网址</span>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-md">查询</button>
          </div>		  
		  
          <div class="row" id="statis_result" style="display:none;">
            <div class="col-sm-3">
              <div class="widget widget-ov">
                <h3 id="bind_click">0<small>访问量</small></h3>
                <hr>
                <h3 id="bind_visit">0<small>独立访客</small></h3>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="widget">
                <div id="hours-chart" data-start="16042918" data-data="[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]" data-data-uv="[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]"></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="widget" id="bind_referer">
			  	<div id="domains-chart" data-data="{&quot;\u76f4\u63a5\u8bbf\u95ee&quot;:1}"></div>
                <h3><small>来源分布</small></h3>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="widget" id="bind_region">
			  	<div id="locations-chart" data-data="{&quot;\u5176\u5b83&quot;:0,&quot;\u6e56\u5317&quot;:1}"></div>
                <h3><small>地区分布</small></h3>
              </div>
            </div>
          </div>
		  
        </div>
      </div>
    </div>
    </form>
  </div>
</section>

  <!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-sm-6">
          <h3>声明</h3>
          <p>yqt.so 旨为用户提供免费的短网址转换和流量统计服务。</p>
          <p>本站禁止传播色情、暴力、诈骗等内容，为保证服务稳定，请自觉遵守互联网的相关法律法规！如有发现违规情况，欢迎举报！</p>
        </div>
        <div class="footer-col col-sm-6">
          <h3>联系我们</h3>
          <ul class="list-inline">
            <li>
              <a class="btn-social btn-outline" href="http://wpa.qq.com/msgrd?v=3&amp;uin=949133445&amp;site=qq&amp;menu=yes" target="_blank">
                <i class="fa fa-fw fa-qq"></i>
              </a>
            </li>
            <li>
              <a href="mailto:949133445@qq.com" class="btn-social btn-outline">
                <i class="fa fa-fw fa-envelope"></i>
              </a>
            </li>
            <li>
              <a data-toggle="modal" data-target="#qrcode" class="btn-social btn-outline">
                <i class="fa fa-fw fa-weixin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-4 text-right">
          <a class="logo" href="http://www.yiquntui.com/" target="_blank">
            <img src="img/logo.png" alt="易群推" />
          </a>
        </div>
        <div class="col-sm-6 col-xs-8 text-left">
          版权所有 &copy; <a href="http://www.yiquntui.com/" target="_blank">易群推</a>, 2014-2016<br>
          <a href="http://www.shihuizhu.com/" target="_blank">实惠猪</a>
		  <span>/</span>
		  <a href="http://rj.shihuizhu.com/" target="_blank">实惠猪软件</a>
		  <span>/</span>
		  <a href="http://www.miitbeian.gov.cn/" target="_blank">鄂ICP备14020770号</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="popup-modal modal fade" id="qrcode" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr"><div class="rl"></div></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>微信</h2>
            <hr class="star-primary">
            <img src="http://open.weixin.qq.com/qr/code/?username=gh_ea91588fe775" class="img-responsive img-centered" alt="" width="200" height="200">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//cdn.bootcss.com/highcharts/4.2.3/highcharts.js"></script>
  <script src="js/plugin.min.js"></script>
  <script src="js/freelancer.js"></script>
  <code hidden="analysis"><script src="http://s95.cnzz.com/z_stat.php?id=1253142904&web_id=1253142904"></script></code>
</body>
</html>
