
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>果短网址 - Url Shortener</title>
  <link href="//public.baohe.rexcdn.com/startup/css/bootstrap.min.css" rel="stylesheet">
  <script src="//public.baohe.rexcdn.com/jquery/jquery.min.js"></script>
  <script src="//public.baohe.rexcdn.com/vue/vue.js"></script>
</head>

<body>
  
	<div class="container py-4">

		<h2>Setting</h2>
		<hr class="py-1 text-secondary" />

		<div class="p-3 mb-3 bg-body-tertiary rounded-3" id="app">
        <form method="post">

			<div class="mb-3">
				<label class="form-label">Domain</label>
				<input type="text" class="form-control" placeholder="多个域名请用空格隔开" required name="domain" :value="domain">
			</div>

			<div class="mb-3">
				<label class="form-label">Replace</label>
				<template v-for="( v, k ) in newdata">
					<div class="input-group mb-3">
						<input type="text" class="form-control" v-model="v.old" placeholder="原链接" required />
						<span class="input-group-text text-muted">&rightarrow;</span>
						<input type="text" class="form-control" v-model="v.new" placeholder="新链接" required />
						<span class="input-group-text p-1">
							<button type="button" class="btn btn-warning btn-sm" v-if="k != newdata.length - 1" @click="delData( k, v )" title="移除">&minus;</button>
							<button type="button" class="btn btn-success btn-sm" v-if="k == newdata.length - 1" @click="addData( k, v )" title="添加">&plus;</button>
						</span>
					</div>
				</template>
			</div>

			<div class="mb-3">
				<label class="form-label">AuthCode</label>
				<input type="text" class="form-control" placeholder="域名验证字符" name="authcode" :value="authcode">
			</div>

			<div class="mb-3">
				<label class="form-label">Command</label>
				<input type="hidden" class="form-control" name="replace" v-bind:value="getData()" />
				<input type="password" class="form-control" placeholder="安全验证口令" name="command">
			</div>

            <div class="form-group d-grid">
                <button class="btn btn-primary btn-block" type="submit">立即保存</button>
            </div>
			
        </form>
		</div>

	</div>

	<script>
		new Vue({
			el: '#app',
			data: {
				domain: '{domain}',
				authcode: '{authcode}',
                replace:{replace},
                newdata:[],
			},
			methods: {

				//添加数据
                addData: function ( k, i ) {
                    this.$set( this.newdata, this.newdata.length, {'new':'', 'old':''} );
                },

                //删除数据
                delData: function ( k, i ) {
                    this.$delete( this.newdata, k );
                },

				//格式化数据
				getData: function () {

					//拼接数组
					var f = {};
					var o = this.newdata;

					for( var j = 0; j < o.length; j++ ){
						f[ o[j].old ] = o[j].new;
					}

					return JSON.stringify( f );
				},

				submit: function(){
					$('form').on('submit', function( e ){
						e.preventDefault();
						var data = $('form').serialize();
						$.post("/set", data, function(data){
							alert( data.result );
						});
					});
				}
			},

            created: function() {
				var data = [];
				if( this.replace ){
                    for( var key in this.replace ){
                        data.push( { 'old': key, 'new' : this.replace[key] } );
                    }
				}

				if( data.length == 0 ){
					data.push( { 'old': '', 'new' : '' } );
				}
				
				this.newdata = data;
            },

			mounted: function () {
             	this.getData();
				this.submit();
         	}
		});
		
	</script>
	
</body>
</html>
